@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --black-chocolate: #0c120c;
  --venetian-red: #c20114;
  --olive-green: #849324;
  --nickel: #6d7275;
  --light-grey: #c7d6d5;
  --ghost-white: #ecebf3;
  --light-blue: #3e92cc;
}

*,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--black-chocolate);
  color: var(--ghost-white);
  width: 100vw;
  height: 100vh;
}

header {
  background-color: var(--olive-green);
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header > a {
  text-decoration: none;
  color: var(--ghost-white);
}

table {
  width: 90%;
  margin: auto;
  margin-top: 2em;
}

td,
th {
  padding: 1.5em 0;
  text-align: center;
}

td .settings-icon {
  max-width: 2em;
  transition: 0.3s ease;
}

td .settings-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.avatar {
  width: 3.5em;
  border-radius: 50%;
  height: 3.5em;
  object-fit: cover;
}

legend {
  font-size: 1rem;
  text-align: center;
  background-color: var(--ghost-white);
  color: var(--black-chocolate);
  padding: 1em 2em;
}

fieldset {
  border: 0.2em solid var(--ghost-white);
  width: 50%;
}

@media (max-width: 40em) {
  fieldset {
    width: 90%;
  }
}

form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select {
  color: var(--ghost-white);
  background-color: var(--nickel);
  cursor: pointer;
  outline: 0;
  border: 0;
  box-shadow: none;
  padding: 1em 4.5em;
}

.submit-msg {
  padding: 0;
  display: none;
  color: var(--olive-green);
}

p {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin: 1em;
}

input {
  font-size: 1rem;
  line-height: 2em;
  letter-spacing: 0.1rem;
  margin-left: auto;
}

input {
  padding: 8px 10px;
  border: none;
  outline: none;
  color: var(--black-chocolate);
  box-shadow: 0 2px 4px var(--olive-green);
}

input:focus {
  border: 2px solid var(--light-blue);
}

button {
  all: unset;
  background-color: var(--ghost-white);
  color: var(--black-chocolate);
  border: 1px solid var(--ghost-white);
  padding: 1em 4em;
  margin: 2em 0;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  border: 1px solid var(--ghost-white);
  background-color: transparent;
  color: var(--ghost-white);
}

footer {
  background-color: var(--olive-green);
  padding: 1em;
}
